@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root{
  --body: rgb(242, 248, 255);
  --container: rgb(237, 245, 252);
  --container-result: rgb(236, 245, 255);
  --container-info: rgb(236, 245, 255);
  --shadow: 5px 5px 15px rgba(119, 136, 158, 0.438);
  --text: rgb(31, 31, 31);
  --text-info: rgb(80, 80, 80);
}

html, body{
  font-family: 'Montserrat', sans-serif;;
  font-size: 100%;
  height: 99%;
}

div{
  font-size: 1.5rem;
}

button{
  border-style: none;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--body);
}

.container{
  margin: auto;
  width: min-content;
  height: min-content;
  padding: 2rem;
  background-color: var(--container);
  box-shadow: var(--shadow);
  text-align: center;
  border-radius: 1rem;
}

h2{
  font-size: 2.5rem;
  margin-top: -0.5rem;

}

.result {
  position: relative;
  margin-left: -15%;
  width: 130%;
  height: 80px;
  overflow: hidden;
  box-shadow: var(--shadow);
  background: linear-gradient(to right, rgba(96, 68, 255, 0.486), rgba(147, 207, 247, 0.486));
  border-radius: 1rem;
}

.result__info {
  position: absolute;
  bottom: 4px;
  color: var(--text-info);
  font-size: 0.8rem;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  opacity: 0;
}

.result__info.right {
  right: 10px;
}

.result__info.left {
  left: 10px;
}

.result__viewbox {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  color: var(--text);
  text-align: center;
  line-height: 80px;
  animation-name: password;
  animation-duration: 500ms;
}

.result #copy-btn {
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: 38px;
  height: 38px;
  mix-blend-mode: difference;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  z-index: 2;
}

.result #copy-btn:active {
  -webkit-box-shadow: 0 0 0 200px rgba(255, 255, 255, 0.08);
          box-shadow: 0 0 0 200px rgba(255, 255, 255, 0.08);
}

.result:hover #copy-btn {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1.35);
          transform: translate(-50%, -50%) scale(1.35);
}



@keyframes password {
  from {font-size: 0;}
  to {font-size: 1.5rem;}
}

.field-title {
  position: absolute;
  top: -10px;
  left: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 800;
  color: var(--text);
  text-transform: uppercase;
  font-size: 0.65rem;
}


.range__slider {
  position: relative;
  width: 100%;
  height: calc(65px - 10px);
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 30px 0;
}

.range__slider::before, .range__slider::after {
  position: absolute;
  color: var(--text);
  font-size: 0.9rem;
  font-weight: bold;
}

.range__slider::before {
  content: attr(data-min);
  left: 10px;
}

.range__slider::after {
  content: attr(data-max);
  right: 10px;
}

.range__slider .length__title::after {
  content: attr(data-length);
  position: absolute;
  right: -16px;
  font-variant-numeric: tabular-nums;
  color: var(--text-info);
}

#slider {
  -webkit-appearance: none;
  width: calc(100% - (70px));
  height: 4px;
  border-radius: 5px;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: blue;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

#slider::-webkit-slider-thumb:hover {
  background: rgb(0, 0, 129);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.settings {
  position: relative;
  height: auto;
  widows: 100%;
}

.settings .setting {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;

  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;

  padding: 10px 25px;
  color: var(--text);

}

.settings .setting input {
  opacity: 0;
  position: absolute;
}

.settings .setting input + label::before, .settings .setting input + label::after {
  content: "";
  position: absolute;
  -webkit-transition: 150ms cubic-bezier(0.24, 0, 0.5, 1);
  transition: 150ms cubic-bezier(0.24, 0, 0.5, 1);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  right: 10px;
  cursor: pointer;
}

.settings .setting input + label::before {
  height: 30px;
  width: 50px;
  border-radius: 30px;
  background: rgba(214, 214, 214, 0.434);
}

.settings .setting input + label::after {
  height: 24px;
  width: 24px;
  border-radius: 60px;
  right: 32px;
  background: #fff;
}

.settings .setting input:checked + label:before {
  background: #5d68e2;
  -webkit-transition: all 150ms cubic-bezier(0, 0, 0, 0.1);
  transition: all 150ms cubic-bezier(0, 0, 0, 0.1);
}

.settings .setting input:checked + label:after {
  right: 14px;
}

.settings .setting input:focus + label:before {
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.75);
          box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.75);
}

.btn.generate {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  border-radius: 8px;
  color: var(--text);
  border: none;
  box-shadow: var(--shadow);
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.btn.generate:active {
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
          
  -webkit-box-shadow: 0 4px 8px rgba(255, 255, 255, 0.08);
          box-shadow:inset var(--shadow);
}